<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>magazine</title>
</head>
<body>

        <table align="center" width="800">
            <br>
            <tr>
                <th colspan="5"><marquee><i>
                    WELCOME TO ROCKSTAR MAGAINE
                </i></marquee></th>
            </tr>
            <br>
            <tr>
                <th align="left"><h3>
                    Fashion
                </h3></th>
            </tr>
            <br>
            <tr>
                <td align="center">
                    "Style is the only thing you can’t buy. It’s not in a shopping bag, a label, or a price tag. It’s something reflected from our soul to the outside world—an emotion.”
                </td>
            </tr>
            <tr>
                <th align="left"><h3>
                    Health
                </h3></th>
            </tr>
            <br>
            <tr>
                <td align="center">
                    "Look up, laugh loud, talk big, keep the color in your cheek and the fire in your eye, adorn your person, maintain your health, your beauty and your animal spirits."
                </td>
            </tr>
        </table>




</body>
</html>
